.page-bg-skeleton {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    height: calc(100vh - 250px);
    padding: 12px;
}
.page-bg {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}