.exercise-container {
  position: relative;
}

.exerciseList > input {
    font-size: 32px;
    width: 56px;
    text-align: center;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
