.card-outline {
    border: solid gray 4px;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);

    padding: 24px 32px 24px 50px;
    width: fit-content;
    min-width: 500px;
    min-height: 100px;

    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-evenly;
    font-size: 32px;
    color: black;
}

.selected-card-outline {
    border: solid gray 4px;
    border-radius: 50px;
    background-color: rgb(255, 187, 0);

    padding: 24px 32px 24px 50px;
    width: fit-content;
    min-width: 500px;
    min-height: 100px;

    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-evenly;
    font-size: 32px;
    color: #1976d2;
}